/* Colors */
body {
    background-color: #E6E9EE;
    color: #31735C;
}

.btn {
    background-color: #136F73;
    border-style: none;
}

.btn:hover {
    background-color: #136F73;
}

.navbar,
.footer {
    background-color: #889C78;
}


.footer {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
}