{% extends "base.html" %}

{% block container %}
    <div class="container px-4 text-center">
    

        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-4">
            <h2>Welcome {{user}}, here is your bookings.</h2>
            {% for booking in bookings_list  %}
          <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{booking.get_house_category}} HOUSE</h5>
                  <p class="card-text">From: {{booking.check_in}}</p>
                  <p class="card-text">To: {{booking.check_out}}</p>
                  <p class="card-text">Beds: {{booking.house.beds}}</p>
                  <p class="card-text">Capacity: {{booking.house.capacity}}</p>
                  <a href="{% url 'bnbhouse:cancel_booking' %}" class="btn btn-outline-danger btn-sm" ></a>
                  <!-- <a href="{{booking.get_cancel_booking_url}}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"> Cancel booking</i></a> -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                  </button>
                </div>
              </div>
          </div>
              {% endfor %}
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to cancel?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="card-title">{{booking.get_house_category}} HOUSE</h5>
                  <p class="card-text">From: {{booking.get_house_check_in}}</p>
                  <p class="card-text">To: {{booking.check_out}}</p>
                  <p class="card-text">Beds: {{booking.house.beds}}</p>
                  <p class="card-text">Capacity: {{booking.house.capacity}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>

{% endblock %}