{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Welcome {{user}}, here are your bookings.</h2>
    <div class="container px-4 text-center position-absolute top-50 start-50 translate-middle">
      
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-4">
          {% for booking in bookings_list  %}
          <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{booking.get_house_category}} HOUSE</h5>
                  <p class="card-text">From: {{booking.check_in}}</p>
                  <p class="card-text">To: {{booking.check_out}}</p>
                  <p class="card-text">Beds: {{booking.house.beds}}</p>
                  <p class="card-text">Capacity: {{booking.house.capacity}}</p>
                  <a href="{{booking.get_cancel_booking_url}}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"> Cancel booking</i></a>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>

        
{% endblock %}