{% extends "base.html" %}

{% block container %}
<div class="container px-4">
  <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col-md-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <form id="booking-form" action="" method="POST">
                    {% csrf_token %}

                    <h2 class="card-title">Are you sure you want to cancel your booking </h2>
                    <p class="card-text">{{bookings.house.number}} </p>
                    <p class="card-text">{{bookings.get_house_category}}</p> 
                    <p class="card-text">{{bookings.check_in}} {{bookings.check_out}}?</p>
                    <!-- Input Div -->
                    <div class="input-div">
                        <button class="btn btn-danger" type="submit">Cancel the Booking</button>
                    </div>
    
                </form>
            </div>
        </div>


    </div>

{% endblock %}