{% extends "base.html" %}

{% block content %}

<figure class="text-center">
  <blockquote class="blockquote">
  <p>Welcome {{user}}, here are your bookings.</p>
  </blockquote>
</figure>
      <div class="container justify-content-center w-50 shadow-lg">
        {% for booking in bookings_list  %}
        <div class="row border bg-light rounded">
          <div class="col d-flex align-items-center">
          {{booking.get_house_category}} HOUSE 
          </div>
          <div class="col">From: {{booking.check_in|date:"d F y"}} </br>
                            To: {{booking.check_out|date:"d F y"}}
          </div>
          <div class="col d-flex align-items-center">
                <a href="{{booking.get_cancel_booking_url}}" role="button" class="btn btn-danger align-middle">
                  <i class="fa-solid fa-circle-xmark"></i>Cancel booking
                </a>
          </div>
        </div>
        {% endfor %}
      </div>
    
        
{% endblock %}