{% extends "base.html" %}

{% block container %}

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome {{user}}, Update Your Booking On {{booking.get_house_category}} HOUSE</h5>
            <p class="card-text">{{booking.get_house_category}} HOUSE</p>
            <form id="booking-form" action="" method="POST">
                {% csrf_token %}
    
                <!-- Input Div -->
                <div class="form-group">
                    <p class="card-text"></p>
                    <p class="card-text">From: {{booking.check_in}}</p>
                    <p class="card-text">To: {{booking.check_out}}</p>
                    <label for="id_check_in">New Check In : </label>
                    <input class="form-control" type="datetime-local" id="id_check_in" name="check_in" required>
                </div>
    
                <!-- Input Div -->
                <div class="form-group">
                    <label for="id_check_out">New Check Out : </label>
                    <input class="form-control" type="datetime-local" id="id_check_out" name="check_out" required>
                </div>
    
                <!-- Input Div -->
                <div class="input-div">
                    <button class="btn btn-primary" type="submit">Update the Room</button>
                </div>
            </form>
          </div>
    </div>      
</div>
        


{% endblock %}