{% extends "base.html" %}

{% block container %}
    <article>This is a try!</article>

    <div class="container-md.">
        <div class="row aling-items-center">
            <div class="col">
                <h2>{{ house_category }}</h2>
                
                <p>{{ description }} </p>
                
                
            </div>
            <div class="col">
                <form action="" method="POST">
                    <button class="btn">Book!</button>

                </form>
            </div>
            <div class="col">


            </div>
        </div>


    </div>

{% endblock %}