{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      {% for house_category, house_url in house_list %}
      <div class="col">
        <div class="card h-100 text-center shadow rounded">
            <div class="card-body">
              
              <div class="image-container">
                <img src="{{ img.house_image.url }}" width="100%">
              </div>
              
              
              <h5 class="card-title">{{house_category}} HOUSE</h5>
              
              <a href="{{house_url}}" class="btn btn-primary">Book This House</a>
              
            </div>
          </div>
          
      </div>
      {% endfor %}
    </div>
    
  </div>
{% endblock %}